USE [kiemthedb]
GO
/****** Object:  Table [dbo].[ChatDatas]    Script Date: 6/16/2026 11:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatDatas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ChatID] [varchar](100) NULL,
	[FromRoleName] [varchar](50) NULL,
	[ToRoleName] [varchar](50) NULL,
	[Channel] [int] NULL,
	[ChatTime] [datetime] NULL,
	[FileName] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChatDatas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configs]    Script Date: 6/16/2026 11:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StartKM] [datetime] NULL,
	[EndKM] [datetime] NULL,
	[NormalRate] [float] NULL,
	[KMRate] [float] NULL,
 CONSTRAINT [PK_Configs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CsmLogins]    Script Date: 6/16/2026 11:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CsmLogins](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Premission] [int] NULL,
	[RegTime] [datetime] NULL,
 CONSTRAINT [PK_CsmLogins] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiftCodeLogs]    Script Date: 6/16/2026 11:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiftCodeLogs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[ActiveRole] [int] NULL,
	[ActiveTime] [datetime] NULL,
	[CodeType] [nvarchar](50) NULL,
	[ServerID] [int] NULL,
 CONSTRAINT [PK_GiftCodeLogs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiftCodes]    Script Date: 6/16/2026 11:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiftCodes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ServerID] [int] NULL,
	[Code] [varchar](50) NULL,
	[Status] [int] NULL,
	[ItemList] [nvarchar](500) NULL,
	[TimeCreate] [datetime] NULL,
	[CodeType] [varchar](50) NULL,
	[MaxActive] [int] NULL,
	[UserName] [nvarchar](50) NULL,
 CONSTRAINT [PK_GiftCodes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[history_gamebank]    Script Date: 6/16/2026 11:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history_gamebank](
	[historyid] [int] IDENTITY(1,1) NOT NULL,
	[datetime] [datetime] NOT NULL,
	[cardserial] [text] NOT NULL,
	[cardpin] [text] NOT NULL,
	[cardtype] [int] NOT NULL,
	[price] [int] NOT NULL,
	[coins] [int] NOT NULL,
	[msg] [text] NOT NULL,
	[status] [int] NOT NULL,
	[UserID] [int] NULL,
	[tran_id] [varchar](40) NULL,
	[cardname] [nvarchar](100) NULL,
	[accountname] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[historyid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KTCoins]    Script Date: 6/16/2026 11:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KTCoins](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[UserName] [nvarchar](50) NULL,
	[KCoin] [int] NULL,
	[UpdateTime] [datetime] NULL,
 CONSTRAINT [PK_KTCoins] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lichcmnsu]    Script Date: 6/16/2026 11:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lichcmnsu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nguoichuyen] [nvarchar](50) NULL,
	[nguoinhan] [nvarchar](50) NULL,
	[thoigian] [datetime] NULL,
	[sodongchuyen] [int] NULL,
 CONSTRAINT [PK_lichcmnsu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginTables]    Script Date: 6/16/2026 11:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginTables](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Status] [int] NULL,
	[Date] [datetime] NULL,
	[ActiveRoleID] [int] NULL,
	[ActiveRoleName] [varchar](50) NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[TokenTimeExp] [datetime] NULL,
	[AccessToken] [nvarchar](50) NULL,
	[Note] [nvarchar](100) NULL,
	[LastServerLogin] [int] NULL,
	[LastLoginTime] [datetime] NULL,
	[LastIPLogin] [nvarchar](50) NULL,
	[Commission] [float] NULL,
 CONSTRAINT [PK_LoginTables] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogsTrans]    Script Date: 6/16/2026 11:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogsTrans](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[RoleID] [int] NULL,
	[RoleName] [varchar](50) NULL,
	[ServerID] [int] NULL,
	[Value] [int] NULL,
	[TimeTrans] [datetime] NULL,
	[BeforeValue] [int] NULL,
	[AfterValue] [int] NULL,
 CONSTRAINT [PK_LogsTrans] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsTables]    Script Date: 6/16/2026 11:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsTables](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Catagory] [nvarchar](50) NULL,
	[Title] [nvarchar](200) NULL,
	[Context] [varchar](max) NULL,
	[DateTime] [datetime] NULL,
 CONSTRAINT [PK_NewsTables] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quantri]    Script Date: 6/16/2026 11:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quantri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[taikhoan] [nvarchar](50) NULL,
	[chucvu] [nvarchar](50) NULL,
 CONSTRAINT [PK_quantri] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RechageLogs]    Script Date: 6/16/2026 11:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RechageLogs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[UserName] [nvarchar](20) NULL,
	[CoinValue] [int] NULL,
	[BeforeCoin] [int] NULL,
	[AfterCoin] [int] NULL,
	[RechageDate] [datetime] NULL,
	[RechageType] [nvarchar](50) NULL,
	[Pram_0] [nvarchar](50) NULL,
	[Pram_1] [nvarchar](50) NULL,
	[Pram_2] [nvarchar](50) NULL,
	[Pram_3] [int] NULL,
	[Messenger] [nvarchar](100) NULL,
	[Status] [int] NULL,
	[TransID] [nvarchar](50) NULL,
	[ValueRechage] [int] NULL,
	[ActionBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_RechageLogs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServerLists]    Script Date: 6/16/2026 11:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServerLists](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[strServerName] [nvarchar](100) NULL,
	[nServerOrder] [int] NULL,
	[nServerPort] [int] NULL,
	[nStatus] [int] NULL,
	[strURL] [nvarchar](50) NULL,
	[nServerID] [int] NULL,
	[nOnlineNum] [int] NULL,
	[HttpServicePort] [int] NULL,
	[strMaintainStarTime] [datetime] NULL,
	[strMaintainTerminalTime] [datetime] NULL,
	[strMaintainTxt] [nvarchar](100) NULL,
	[isTestServer] [int] NULL,
 CONSTRAINT [PK_ServerLists] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServerListsIos]    Script Date: 6/16/2026 11:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServerListsIos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[strServerName] [nvarchar](100) NULL,
	[nServerOrder] [int] NULL,
	[nServerPort] [int] NULL,
	[nStatus] [int] NULL,
	[strURL] [nvarchar](50) NULL,
	[nServerID] [int] NULL,
	[nOnlineNum] [int] NULL,
	[HttpServicePort] [int] NULL,
	[strMaintainStarTime] [datetime] NULL,
	[strMaintainTerminalTime] [datetime] NULL,
	[strMaintainTxt] [nvarchar](100) NULL,
	[isTestServer] [int] NULL,
 CONSTRAINT [PK_ServerListsIos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TokenManagers]    Script Date: 6/16/2026 11:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TokenManagers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NULL,
	[tokencreate] [nvarchar](50) NULL,
	[time] [bigint] NULL,
	[requestSendStatus] [int] NULL,
 CONSTRAINT [PK_TokenManagers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
